<md-list-item class="md-3-line md-long-text">
    <div class="md-list-item-text">
        <h3>Qui sommes-nous ?</h3>
        <p>
            Fastlap est une société de tranport fondée en 2014 qui offre le moyen le plus rapide de transport par l'intermédiaire de centres de téléportation situés dans plusieurs pays.
        </p>
    </div>
</md-list-item>

<md-list-item class="md-3-line md-long-text">
    <div class="md-list-item-text">
        <h3>Pourquoi nous ?</h3>
        <p>
            Avec maintenant plus de 1000 centres de téléportation dans plus de 6 pays de l'océan indien, Faslap est le moyen de transportation numéro 1.
        </p>
    </div>
</md-list-item>

<md-list-item class="md-3-line md-long-text">
    <div class="md-list-item-text">
        <h3>Nos prix?</h3>
        <p>
            Fast Lap vous offres le meilleurs prix pour vos voyages et import/export de coli. Nous offrons actuellement des tarrifs speciaux ci-dessous:
            <div>

            </div>
        </p>
    </div>
</md-list-item>



<div id="contact" ng-cloak>
    <md-content>
        <form name="contact_us">
            <h3>Pour plus d'information contactez nous</h3>
            <div>
                <md-input-container>
                    <label>Nom</label>
                    <input name="firstName" ng-model="firstName" required>
                    <div ng-messages="userForm.firstName.$error">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>

            </div>

            <div>
                <md-input-container>
                    <label>Prénom</label>
                    <input name="lastNamer" ng-model="lastName" required>
                    <div ng-messages="userForm.lastName.$error">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Message</label>
                    <textarea name="message" ng-model="message" required></textarea>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Addresse e-mail</label>
                    <input name="email" type="email" ng-model="email" required>
                    <div ng-messages="userForm.email.$error">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>
            </div>

            <md-button class="md-primary md-hue-1">Envoyer</md-button>
        </form>
    </md-content>

</div>