.splitlayout {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}

.side {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}
.side-left .overlay {
    background: rgba(0,0,0,0.7);
}

.side-right .overlay {
    background: rgba(0,0,0,0.3);
}

.side-left {
    left: 0;
    background: #47a3da;
    color: #fff;
    outline: 1px solid #47a3da; /* avoid gap */
}

.side-right {
    right: 0;
    background: #fff;
    color: #47a3da;
    outline: 1px solid #fff; /* avoid gap */
}
.side-left:on{
    animation-name: slide;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slide {
    from{transform: translateX(0px);}
    to{transform: translateX(190%);}
}