#accueil{
    width:auto !important;
    height: 100% !important;

}

.text_home{
    margin-top: 10%;
    text-align: center;
    color: #ff9713;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 52px;
    background: #000000 ;
}

.text_home_sub{
    text-align: center;
    color: #fffbff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    background: #ff9713;;
}



.trapez{
    border-bottom: 800px solid #333333;
    border-right: 580px solid transparent;
    height: 0;
    width: 1000px;
    opacity:0.95
}

.content_home{
    position:absolute;
}


.content_home h3 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 15.4px;
}

.home_title{
    font-size: 8px !important;
    float: right;
    text-transform: uppercase;
}