#accueil{
    width:auto !important;
    height: 100% !important;

}

.text_home{
    margin-top: 10%;
    text-align: center;
    color: #ff9713;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 52px;
    background: #000000 ;
}

.text_home_sub{
    text-align: center;
    color: #fffbff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    background: #ff9713;;
}



.trapez{
    background:  #333333;
    float: right;
    opacity: 0.75;
    width: 50%;
    height: 100%;
}

.content_home{
    position:absolute;
    color: #ffffff;
    padding: 2%;
}


.content_home h3 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 15.4px;
}

.home_title{
    z-index: 9999;
    height: 120px;
    text-transform: uppercase;

}

a.sign_link{
    font-size: 10px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-transform: none;
}

a:hover.sign_link{
    color: #47a3da;
    font-size: 12px;
}

.left{
    float: left;
    margin-left: 38%;
    margin-top: 2%;
}

.right{
    float: right;
}